html, body{
	font-family: Arial, sans-serif;
	margin: 0;
    background-color: black;
    color: white;
}

header{

    background-image: url("https://get.wallhere.com/photo/illustration-abstract-logo-Marvel-Comics-Iron-Man-circle-ball-blueprints-hand-screenshot-computer-wallpaper-organ-234157.jpg");
    background-size: 1400px 810px;
    background-repeat: repeat;
	padding: 40px;
	text-align: center;
	text-shadow: 10px 10px 20px black;
	background-position: center;
}

h1{
	font-size: 90px;
	color: white;
}

header img{
	border-radius: px;
    width: 270px;
    border: 24px solid #ffcc00;
    box-shadow: 10px 10px 20px black;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

img.tony{
	max-width: 40%;
    width: 300px;
    border: 24px solid white;
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: red;
	text-decoration: none;
}


footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #cc0000;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #cc0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #cc0000;
  color: white;
}

	</style>